# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code config
.vscode/

# Python/Jupyter cache
.ipynb_checkpoints

# Build / Distribution / Docs
build/
dist/
*.egg-info/

# System / Editor
.DS_Store
Thumbs.db

# IPFS snapshots (large binary audit logs)
*.ipfs.snapshot
*.auditchain

# Sensitive or private manifest exports
*manifest.private.*
